// .grid-container {
//     display: grid;
//     grid-template-rows: repeat(10, 1fr);
//     grid-template-columns: repeat(3, 1fr);
//     height: 100vh;
//     margin: 0 auto;
//     max-width: 1140px;

//     h2 {
//         border: 1px solid blue;
//     }
// }

// .conference {
//     display: flex;

//     img {
//         margin-right: 1rem;
//         width: 15rem;
//     }
// }

// .evenement {
//     display: flex;

//     li {
//         list-style: none;
//     }
// }

.grid-atelier {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(11, 1fr);
    height: 100vh;
    margin: 0 auto;
    max-width: 1140px;

    p {
        text-align: center;
        margin: auto 0;
    }

    // .entete{
    //     background-color: $darken($color_red,2%);
    // }

}
